<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="Menu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Budget App | {{ Title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button slot="start" (click)="openCalendar()">
        <ion-icon md="calendar-outline" ios="calendar-sharp"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="addNewBudget()">
        <ion-icon ios="add" md="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
